<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Вход в систему</title>
  <link rel="icon" href="../../public/favicon.ico">
  <link rel="stylesheet" href="../assets/index.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <div class="blue darken-1 empty-layout" id="blue-layout">
    <form class="card auth-card">
      <div class="card-content">
        <span class="card-title">Вход в систему</span>

        <div class="input-field input-field-blue">
          <input type="text" id="login">
          <label for="login">Логин</label>
        </div>

        <div class="input-field" id="input-field-blue">
          <input type="password" id="password" class="validate">
          <label for="password">Пароль</label>
        </div>
      </div>

      <div class="card-action">
        <button type="submit"
                class="btn waves-effect waves-light auth-submit blue darken-1"
        >
          Войти
        </button>
      </div>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
